@{
    ViewBag.Title = "Contact";
}
<h1 class="site-h1">@ViewBag.Title.</h1>
<h3 class="site-h3">@ViewBag.Message</h3>

<address>
    One Microsoft Way<br />
    Redmond, WA 98052-6399<br />
    <abbr title="Phone">P:</abbr>
    425.555.0100
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>

@section scripts{
<script type="text/javascript">
    layui.use(['element'], function () {
        var layer = layui.layer;
        layui.jquery('#menu-contact').addClass('layui-this');
    });
</script>
}