<ul class="layui-nav layui-nav-tree site-demo-nav">
    <li class="layui-nav-item layui-nav-title">
        <a>菜单</a>
    </li>
    <li id="left-new" class="layui-nav-item ">
        <a href="~/Admin/Create">
            <i class="layui-icon" style="top: 1px; font-size: 18px;">&#xe642;</i>
            <cite>新建文章</cite>
        </a>
    </li>
    <li id="left-arts" class="layui-nav-item ">
        <a href="~/admin/list">
            <i class="layui-icon" style="top: 2px; font-size: 18px;">&#xe62a;</i>
            <cite>文章列表</cite>
        </a>
    </li>
    <li id="left-page" class="layui-nav-item ">
        <a href="~/admin/pages">
            <i class="layui-icon" style="top: 2px; font-size: 18px;">&#xe62a;</i>
            <cite>页面管理</cite>
        </a>
    </li>
    <li id="left-cate" class="layui-nav-item ">
        <a href="~/Admin/categorys">
            <i class="layui-icon" style="top: 3px; font-size: 18px;">&#xe622;</i>
            <cite>分类管理</cite>
        </a>
    </li>
    <li id="left-tag" class="layui-nav-item ">
        <a href="~/Admin/tags">
            <i class="layui-icon" style="top: 3px; font-size: 18px;">&#xe622;</i>
            <cite>Tags管理</cite>
        </a>
    </li>
    <li id="left-comm" class="layui-nav-item ">
        <a href="~/Admin/comments">
            <i class="layui-icon" style="top: 3px; font-size: 18px;">&#xe622;</i>
            <cite>评论管理</cite>
        </a>
    </li>
    <li id="left-mod" class="layui-nav-item ">
        <a href="~/Admin/modules">
            <i class="layui-icon" style="top: 3px; font-size: 18px;">&#xe622;</i>
            <cite>模块管理</cite>
        </a>
    </li>
    <li id="left-file" class="layui-nav-item ">
        <a href="~/Admin/upfiles">
            <i class="layui-icon" style="top: 3px; font-size: 18px;">&#xe622;</i>
            <cite>附件管理</cite>
        </a>
    </li>
    <li class="layui-nav-item layui-nav-title">
        <a><i class="layui-icon">&#xe614;</i><cite>系统设置</cite></a>
    </li>
    <li id="left-conf" class="layui-nav-item ">
        <a href="~/Admin/config">
            <i class="layui-icon" style="top: 4px;">&#xe612;</i><cite>网站设置</cite>
        </a>
    </li>
    <li id="left-user" class="layui-nav-item ">
        <a href="~/Admin/users">
            <i class="layui-icon" style="top: 4px;">&#xe612;</i><cite>用户管理</cite>
        </a>
    </li>
    <li id="left-role" class="layui-nav-item ">
        <a href="~/Admin/roles">
            <i class="layui-icon" style="top: 5px;">&#xe613;</i><cite>角色管理</cite>
        </a>
    </li>
    <li class="layui-nav-item" style="height: 30px; text-align: center">
    <span class="layui-nav-bar" style="top: 150px; height: 0px; opacity: 0;"></span>
    </li>
    
</ul>
